.footer{
    margin-top: 50px;
}
.footer-grid{
    display: grid;
    grid-template-rows:repeat(2, 1fr) ;

}
.footer-grid_logo>img{
    width: 120px;
    height: 38px;
}

.footer-grid_info,.footer-grid_info_parts{
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer-grid_logo{
    margin: auto;
}
.footer-grid_info_parts>img{
    width: 15px;
    height: 20px;

}
.footer-grid_info{
    gap: 22px;
    margin-top: 20px;
}
.footer-grid_info_parts{
    gap: 5px;
}
.footer-grid_info_parts>div{
   
font-size: 15px;
font-weight: 500;
line-height: 22px;
text-align: right;
color: #101010;

}
.footer-grid-bottom{
    border-top: 1px solid #0000000D;
    width: 100%;
    margin-top: 30px;
    flex: 1;
   

}
.footer-grid-bottom_text{
    padding-top: 30px;
    flex: 1;
    margin-left: 20%;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color:  #000000;
}
.footer-grid-bottom_icons img{
    width: 20px;
    height: 20px;
}
.footer-grid-bottom_icons{
    display: flex;
    align-items: center;
    gap: 13.35px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

